@import "@/styles/_vars.scss";
.wrapper {
  width: 243px;
  height: 448px;
}

.dropComponent {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 243px;
  height: 448px;
  border: 2px dashed #C4C4C4;
  border-radius: $br6;

  >.title {
    line-height: 17px;
    text-align: center;
    color: $main-blue;

    >span {
      color: #6B7280;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      display: block;
    }
  }
  >img {
    margin-bottom: 12px;
  }
}

.dragIsDropped {
  border: none;

  .title {
    display: none;
    >span {
      display: none;
    }
  }
  >img {
    display: none;
  }
}