@import "@/styles/_vars.scss";

.result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 52px;
  padding: 0 8px;
  width: 100%;
  border-radius: $br6;
  background-color: $gray-100;
  color: $gray-900;
  font-size: 36px;
  font-weight: 800;
  text-align: right;
  overflow: hidden;

  >p {
    min-width: fit-content;
  }
}